Repository garretpatten/codeowner-verifier, changes with the owners that .github/CODEOWNERS names for each.
All owners: @garretpatten, @aldjkdjflsd-jsdjflsdkf, @JakeSpillane

Switch branches
  src/action.js
Owners: @garretpatten

test
  package.json
  src/action.js
Owners: @garretpatten

test
  dist/index.js
  node_modules/@vercel/ncc/dist/ncc/cli.js.cache
  node_modules/@vercel/ncc/dist/ncc/index.js.cache
  node_modules/@vercel/ncc/dist/ncc/loaders/relocate-loader.js.cache
  node_modules/@vercel/ncc/dist/ncc/loaders/shebang-loader.js.cache
  package.json
  src/action.js
Owners: @aldjkdjflsd-jsdjflsdkf, @JakeSpillane, @garretpatten

test
  dist/index.js
  node_modules/@vercel/ncc/dist/ncc/cli.js.cache
  node_modules/@vercel/ncc/dist/ncc/index.js.cache
  node_modules/@vercel/ncc/dist/ncc/loaders/relocate-loader.js.cache
  node_modules/@vercel/ncc/dist/ncc/loaders/shebang-loader.js.cache
  package.json
  src/action.js
Owners: @aldjkdjflsd-jsdjflsdkf, @JakeSpillane, @garretpatten

test
  dist/index.js
  node_modules/@vercel/ncc/dist/ncc/cli.js.cache
  node_modules/@vercel/ncc/dist/ncc/index.js.cache
  node_modules/@vercel/ncc/dist/ncc/loaders/relocate-loader.js.cache
  node_modules/@vercel/ncc/dist/ncc/loaders/shebang-loader.js.cache
  src/action.js
Owners: @aldjkdjflsd-jsdjflsdkf, @JakeSpillane, @garretpatten

test
  LICENSE
  package.json
Owners: none

test
  LICENSE
  dist/index.js
  node_modules/@vercel/ncc/dist/ncc/cli.js.cache
  node_modules/@vercel/ncc/dist/ncc/index.js.cache
  node_modules/@vercel/ncc/dist/ncc/loaders/relocate-loader.js.cache
  node_modules/@vercel/ncc/dist/ncc/loaders/shebang-loader.js.cache
  package.json
  src/action.js
Owners: @aldjkdjflsd-jsdjflsdkf, @JakeSpillane, @garretpatten

test
  LICENSE
  dist/index.js
  node_modules/@vercel/ncc/dist/ncc/cli.js.cache
  node_modules/@vercel/ncc/dist/ncc/index.js.cache
  node_modules/@vercel/ncc/dist/ncc/loaders/relocate-loader.js.cache
  node_modules/@vercel/ncc/dist/ncc/loaders/shebang-loader.js.cache
  package.json
  src/action.js
Owners: @aldjkdjflsd-jsdjflsdkf, @JakeSpillane, @garretpatten

test
  LICENSE
  dist/index.js
  node_modules/@vercel/ncc/dist/ncc/cli.js.cache
  node_modules/@vercel/ncc/dist/ncc/index.js.cache
  node_modules/@vercel/ncc/dist/ncc/loaders/relocate-loader.js.cache
  node_modules/@vercel/ncc/dist/ncc/loaders/shebang-loader.js.cache
  package.json
  src/action.js
Owners: @aldjkdjflsd-jsdjflsdkf, @JakeSpillane, @garretpatten

test
  LICENSE
  dist/index.js
  node_modules/@vercel/ncc/dist/ncc/cli.js.cache
  node_modules/@vercel/ncc/dist/ncc/index.js.cache
  node_modules/@vercel/ncc/dist/ncc/loaders/relocate-loader.js.cache
  node_modules/@vercel/ncc/dist/ncc/loaders/shebang-loader.js.cache
  package.json
  src/action.js
Owners: @aldjkdjflsd-jsdjflsdkf, @JakeSpillane, @garretpatten

test
  LICENSE
  dist/index.js
  node_modules/@vercel/ncc/dist/ncc/cli.js.cache
  node_modules/@vercel/ncc/dist/ncc/index.js.cache
  node_modules/@vercel/ncc/dist/ncc/loaders/relocate-loader.js.cache
  node_modules/@vercel/ncc/dist/ncc/loaders/shebang-loader.js.cache
  package.json
  src/action.js
Owners: @aldjkdjflsd-jsdjflsdkf, @JakeSpillane, @garretpatten

.github/CODEOWNERS:

# This should be validated
/.github/* @garretpatten

# This should lead to an error
/dist/ @aldjkdjflsd-jsdjflsdkf @JakeSpillane
src/* @garretpatten

# This should be validated
**/action.js @garretpatten
